@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&display=swap');

body {
  font-family: "Cormorant", serif;
}

.navbar {
  margin: 32px
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
}

.links {
  display: inline-block;
  margin-left: 32px;;
}

.links ul {
  padding: 0;
}

.links li {
  display: inline-block;
}

.links a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 0 8px;
}

a.active {
  border-bottom: 1px solid black;
}

.gallary {
  padding: 16px;
}

.card {
  width: 49.75%;
  padding: 16px;
  display: inline-block;
  box-sizing: border-box;
}

.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card img:hover {
  opacity: 0.9;
}

.card h2 {
  font-weight: 300;
  margin: 8px 0 15px 0;
}

.about {
  font-size: 40px;
  font-weight: 300;
  width: 40%;
  min-width: 600px;
  margin: 100px 0 100px 200px
}

.cta {
  margin-top: 0;
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 8px;
}

.contact {
  font-size: 20px;
  margin-top: 100px;
}

.contact p {
  margin: 0;
}
